/* General styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4f4f4;
    color: #333;
    align-items: center;
    padding-top: 40px; /* Adjust for the fixed navbar */
}

.heading {
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;      /* Vertically center */
    height: 100px;            /* Adjust this height as needed */
    text-align: center;       /* Center the text horizontally */
}

/* Navbar styles */
.navbar {
    background-color: #3498db;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #ecf0f1;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 15px;
    align-items: center;
}

.language-selection {
    margin-bottom: 20px;
}

.language-button {
    margin: 5px;
    width: 150px;             /* Fixed width */
    height: 50px;             /* Fixed height */
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;       /* Center text horizontally */
    line-height: 50px;        /* Align text vertically */
    transition: background-color 0.3s;
}

.language-button:hover {
    background-color: #b92929;
}

.language-button.active {
    background-color: #1f8d35;
}

pre {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.algorithm-button, 
.language-button {
    width: 150px;             /* Fixed width */
    height: 50px;             /* Fixed height */
    cursor: pointer;
    text-align: center;       /* Center text horizontally */
    line-height: 50px;        /* Align text vertically */
    margin: 5px;
    background-color: #3498db;
    border: none;
    color: white;
    transition: background-color 0.3s;
}

.algorithm-button:hover, 
.language-button:hover {
    background-color: #b92929; /* Hover effect */
}

.algorithm-button.active, 
.language-button.active {
    background-color: #1f8d35; /* Active button color */
}

.active {
    background-color: #4CAF50; /* Example: green background for active button */
    color: white; /* White text on active button */
}

footer {
    margin-top: 100px;
}
  
footer p {
    text-align: center;
    color: rgb(123, 123, 140);
}

/* Navigation at top */ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  

/* Media Queries for Responsiveness */

/* Mobile devices */
@media (max-width: 480px) {
    nav {
      grid-template-columns: 100%; /* Stack elements */
      padding: 5%;
    }
  
    nav .header_right .algos {
      grid-template-columns: repeat(2, 50%);
      padding: 5% 0;
    }
    
    section {
      grid-template-columns: 100%;
    }
  }
  
  /* Tablets */
  @media (min-width: 481px) and (max-width: 1250px) {
    nav {
      grid-template-columns: 40% 50%;
    }
  
    nav .header_right .algos {
      grid-template-columns: repeat(3, 33.33333%);
    }
    
    section {
      grid-template-columns: 10% 80% 10%;
    }
  }
  
  /* Laptops and desktops */
  @media (min-width: 1251px) {
    nav {
      grid-template-columns: 30% 60%;
    }
  
    section {
      grid-template-columns: 20% 60% 20%;
    }
  }